@media screen and (min-width: 700px) {
    #menu {
        display: none !important;
    }

    #navigation {
        display: flex !important;
        justify-content: space-between;
        padding: 2em 4rem 1em 4rem;
    }

    #navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        list-style: none;
    }

    #navigation a {
        font-size: 1.2rem;
    }

    main {
        max-width: 1000px;
        margin: auto;
    }

    /* HOME PAGE */

    /* Highlights  */
    .highlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: start;
        text-align: center;
        width: 99vw;
        position: relative;
        left: 51%;
        right: 49%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .highlights h2 {
        grid-column: 1 / -1;
        margin-bottom: 1rem;
    }

    .highlight-item img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
    }

    .highlight-item p {
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
        margin-top: 0.3rem;
    }

    /* Best attraction */
    .best-attraction {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
        grid-template-areas:
            "title title"
            "subtitle image"
            "text image";


    }

    .best-attraction h2 {
        grid-area: title;
        text-align: center;
    }

    .best-attraction p strong {
        grid-area: subtitle;
        font-size: 1.4rem;
    }

    .best-attraction p.description {
        grid-area: text;
        line-height: 1.6;
    }

    .best-attraction img {
        grid-area: image;
        width: 100%;
        border-radius: 8px;
    }

    /* ABOUT PAGE */

    .about section {
        max-width: 1100px;
        margin: 3rem auto;
    }

    .about section .content-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        align-items: center;
        column-gap: 2rem;
        text-align: left;
    }

    .about section h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .about section img {
        width: 100%;
        max-width: 300px;
        margin: 0;
    }

    /* Gallery */
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    /*footer*/
    footer {
        background-color: var(--deep-red);
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 1rem 2rem;
        gap: 2rem;
    }

    footer h3,
    footer h4 {
        margin: 0;
    }

    footer .socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        margin: 0;
    }
}