:root {
    --deep-red: #8B0000;
    --gold: #e99700;
    --white: #FFFFFF;
    --black: #000000;
    --heading-font: "Bree Serif", serif;
    --subheading-font: "ABeeZee", sans-serif;
    --body-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--black);
    background-color: var(--white);
}

header {
    background-color: var(--deep-red);
    color: var(--white);
    text-align: center;
    position: relative;

}

header h1 {
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-style: italic;
    font-weight: lighter;
    padding: 1.2rem 0;
}

#menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

#navigation {
    display: none;
    flex-direction: column;
    gap: 2rem;


}

#navigation.show {
    display: flex;
}

#navigation a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-family: var(--subheading-font);
}

#navigation a:hover {
    color: var(--gold);
    font-weight: bold;
}

h2 {
    text-align: center;
}

/* hero */
.hero img {
    width: 100%;
    display: block;
    height: auto;
}

/* main */
main {
    padding: 1rem;
}

/* INDEX PAGE */

/*highlights */
.highlights p,
.best-attraction p strong {
    text-align: center;
    padding-bottom: 1em;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

.highlights {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--deep-red);
    border-radius: 6px;
}

.best-attraction {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--gold);
    border-radius: 6px;
}

.highlights h2 {
    font-family: var(--heading-font);
    color: var(--deep-red);
    text-align: center;
    margin-bottom: 1rem;
}

.best-attraction h2 {
    font-family: var(--heading-font);
    color: var(--gold);
    text-align: center;
    margin-bottom: 1rem;
}

.highlights img,
.best-attraction img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block;
}

.best-attraction p {
    text-align: center;
}

/* ABOUT PAGE */

.about section {
    margin: 2rem 0;
    text-align: center;
    padding: 1rem;
}

.about section img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    margin: 1rem auto;
    display: block;

}

.about-us {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--deep-red);
    border-radius: 6px;

    h2 {
        color: var(--deep-red);
    }
}

.mission {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--gold);
    border-radius: 6px;

    h2 {
        color: var(--gold);
    }
}

.created {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--black);
    border-radius: 6px;

    color: var(--black);
}

/* DISCOVER PAGE */
/* Facts */
.facts,
.culture-gastronomy {
    width: 100vw;
    position: relative;
    padding: 4rem 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.facts h2,
.culture-gastronomy h2 {

    font-family: var(--heading-font);
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
}


.card-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    padding: 0 1rem;
}

.card {
    background-color: var(--white);
    border: 2px solid var(--deep-red);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s;

}

.card img {
    border-radius: 7px;
    padding-top: 1em;
}

.card h3 {
    font-family: var(--subheading-font);
    color: var(--deep-red);
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.card p {
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--black);
}

/* backgroundfact1 */
.facts {
    background-image: url('../images/facts-bg.webp');
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    padding: 4rem 2rem;
}

.culture-gastronomy {
    background-image: url('../images/facts-bg-2.webp');
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    padding: 4rem 2rem;
}

/*FORM*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #fafafa;
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--black);
    max-width: 600px;
    margin: auto;
}

fieldset {
    border: 2px solid var(--deep-red);
    border-radius: 6px;
    padding: 1rem;
}

legend {
    font-weight: 700;
}

label {
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    margin-bottom: 0.5rem;
}


input[type="text"],
select,
textarea {
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: white;
    width: 100%;
}

textarea {
    min-height: 80px;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

.rating {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

button[type="submit"] {
    background: var(--deep-red);
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background: var(--gold);
}



/* footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--deep-red);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
}

footer .socialmedia {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-top: 0.5em;
}

.footer-author {
    padding: 1em;
}

footer h4 {
    font-weight: lighter;
}