@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }

    main {
        max-width: 1000px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
        justify-content: center;
        width: 100%;
    }

}