@media (min-width: 768px) {
    body {
        padding: 0;
    }

    main {
        max-width: 100%;
        margin: 0;
    }


    section {
        margin-bottom: 3rem;
    }


    header {
        padding-top: 2rem;
    }

}