:root {
    --bg: #f1f1f1;
    --text: #222;
    --accent: #4a90e2;
    --accent-dark: #3572b0;
    --border: #ddd;
    --font: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
}

header h1 {
    text-align: center;
    font-weight: 700;
    color: white;
    width: 100%;
    padding: 1rem;
    background-color: #4a90e2;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background: #fafafa;
    padding: 1.2rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

/*labesls */
label {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    font-weight: 600;
    gap: 0.4rem;
}

input[type="text"],
input[type="date"],
select,
textarea {
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid var(--border);
    background: white;
    width: 100%;
}

textarea {
    min-height: 90px;
    resize: vertical;
}


fieldset {
    border: 1px solid var(--border);
    padding: 1rem;
}

legend {
    padding: 0 0.4rem;
    font-weight: 700;
    font-size: 0.95rem;
}

/* radio and labels */

.rating {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rating label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}


.rating-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.features label {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.2);
}

input[type="submit"] {
    background: var(--accent);
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
}

input[type="submit"]:hover {
    background: var(--accent-dark);
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.85rem;
    color: white;
    background-color: #3572b0;
}