body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
}

/* hamburger button */
#menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

/* nav */
.navigation {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation.show {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.navigation a:hover {
    color: #4ad5ee;
    text-decoration: underline;
    background-color: #3a5169;
}

/* main */
main {
    max-width: 90%;
    margin: 1rem auto;
    text-align: center;
}

/* Gallery grid */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background: white;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 100%;
}

footer {

    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}