@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }

    main {
        max-width: 1000px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}